<section class="py-5">
    <h5 class="display-3">
        Thank you for your fictional purchase.
    </h5>

    <p class="lead">Your fictional Ebook should be emailed to you within 1 business day</p>

    <a href="/" class="btn btn-dark btn-lg">Go back Home</a>
</section>